/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
:root {
  --iris: #4d5ae5;
  --oceon: #404bbf;
  --navy-blue: #2e2f42;
  --backgroun-nav-color: #e7e9fc;
  --slate: #434455;
  --cloud: #f4f4fd;
}
body {
  
  color: var(--slate);
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.2;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 1.5;
}
.container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--backgroun-nav-color);
  width: 1440px;
  height: 72px;
}
/* logo */
header .main-logo .header-logo-link {
  color: var(--iris);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

header .main-logo .logo-2 {
  color: var(--navy-blue);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

header .main-logo {
  margin-top: 24px;
  margin-left: 156px;
}
/* logo */

/* nav */
nav {
  width: 261px;
  height: 24px;
  margin-left: 347px;
  margin-top: -24px;
}

nav .nav-items{
  display: flex;
}

 nav .nav-items .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-right: 40px;
 }
 nav .nav-items a:hover {
   color: #404bbf;
 }
 nav .nav-items a:focus {
  color: #404bbf;
 } 

/* nav */

/* address */

address {
  margin-left: 940px;
  margin-top: -24px;
  font-style: normal;
}

address .address-list .address-link-2 {
  margin-right: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate)
}

address .address-list .address-link-1 {
  margin-right: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate)
}
address .address-list {
  display: flex;
}

address .address-list li a:hover {
  color: #404bbf;
}
address .address-list li a:focus {
 color: #404bbf;
} 

/* address */

/* HEADER */

/* HERO İMAGE SECTİON */



/* HERO İMAGE SECTİON */

/* FOOTER */

footer {
  background-color: var(--navy-blue);
  width: 1140px;
  height: 312px;
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
footer .footer-box {
  width: 264px;
  height: 112px;
  margin-top: 100px;
  margin-left: 156px;
}

footer .footer-box .footer-logo-link .logo-1 {
  color: var(--iris);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

footer .footer-box .footer-logo-link .logo-2 {
  color: var(--cloud);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-box .footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 18px;
}



/* FOOTER */