/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */
*,
*::before *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}
:root {
  --iris: #4d5ae5;
  --oceon: #404bbf;
  --navy-blue: #2e2f42;
  --backgroun-nav-color: #e7e9fc;
  --slate: #434455;
  --cloud: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 1.2;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 4%;
    line-height: 1.5;
  }

/* MAİN HEADER */
.main-header {
  width: 1440px;
  height: 72px;
  background-color: white;
  position: fixed;
}

/* LOGO BAŞLANGIÇ */
.main-logo {
  width: 115px;
  height: 24px;
  margin-top: 24px;
  margin-left: 156px;
}
.logo-1 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--iris);
  text-align: center;
}
.logo-2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 3%;
  color: var(--navy-blue);
  text-align: center;
}
/* LOGO BİTİŞ */

/* NAV BAŞLANGIÇ */

.nav {
  width: 261px;
  height: 24px;
  margin-left: 347px;
  margin-top: -27px;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-top: -45px;
  margin-left: -55px;
}
.nav-items > li {
  margin: 20px;
}
.nav-link {
  font-weight: 400;
  color: var(--navy-blue);
}

/* NAV BİTİŞ */

/* ADDRESS BAŞLANGIÇ */

.address {
  display: flex;
  width: 344px;
  height: 24px;
  margin-left: 940px;
  margin-top: -8px;
  color: var(--slate);
}
.mail {
  margin-right: 40px;
  margin-top: 2px;
}
.phone {
  margin-top: 2px;
}

/* ADDRESS BİTİŞ */

/* HERO SECTİON BAŞLANGIÇ */
.hero-image {
  padding-top: 1px;
  width: 1440px;
  height: 600px;
  background-color: var(--navy-blue);
}
.hero-header {
  text-align: center;
  text-align: top;
  max-width: 496px;
  margin-top: 188px;
  margin-left: 472px;
  color: white;
}
.order-button {
  background-color: var(--iris);
  width: 169px;
  height: 56px;
  color: white;
  text-align: left;
  text-align: center;
  margin-left: 638px;
  margin-bottom: 188px;
}

/* HERO SECTİON BİTİŞ */

/* SECTİON 1 BAŞLANGIÇ */

.section-1 {
  width: 1440px;
  height: 104px;
  margin-top: 120px;
}
.list-items {
  display: flex;
  margin-right: 24px;
}
.list-items-h3 {
  color: var(--navy-blue);
  margin-bottom: -10px;
}
.list-items-p {
  text-align: left;
  text-align: top;
}
.list-1 {
  width: 264px;
  height: 104px;
  margin-top: -39px;
  margin-left: 156px;
}
.list-2 {
  width: 264px;
  height: 104px;
  margin-top: -123px;
  margin-left: 444px;
}
.list-3 {
  width: 264px;
  height: 104px;
  margin-top: -125px;
  margin-left: 732px;
}
.list-4 {
  width: 264px;
  height: 104px;
  margin-left: 1020px;
  margin-top: -124px;
}
/* SECTİON 1 BAŞLANGIÇ */

.our-team {
  width: 1440px;
  height: 732px;
  background-color: var(--cloud);
}
.our-team-h2 {
  width: 162px;
  height: 40px;
  margin-top: 120px;
  padding-top: 120px;
  margin-left: 639px;
}
.our-team-header {
  color: var(--navy-blue);
  font-weight: bold;
}
.our-team-1 {
  width: 264px;
  height: 380px;
  margin-left: 156px;
  margin-top: 172px;
  margin-right: 24px;
}
.our-team-2 {
  width: 264px;
  height: 380px;
  margin-left: 444px;
  margin-top: -382px;
  margin-right: 24px;
}
.our-team-3 {
  width: 264px;
  height: 380px;
  margin-left: 732px;
  margin-top: -382px;
  margin-right: 24px;
}
.our-team-4 {
  width: 264px;
  height: 380px;
  margin-left: 1020px;
  margin-top: -382px;
}

.our-team-p {
  text-align: center;
  text-align: top;
  color: var(--slate);
}
.our-team-h3 {
  color: var(--navy-blue);
  text-align: center;
  text-align: top;
}

/* OUR PORTFOİLO BAŞLANGIÇ */

.our-portfolio {
  margin-left: 156px;
  width: 1128px;
  height: 1000px;
}
.our-portfolio-h2 {
  text-align: center;
  width: 218px;
  height: 40px;
  margin-left: 455px;
  margin-top: 120px;
}

.top-list {
  width: 1128px;
  height: 420px;
  margin-top: 72px;
}
.portfolio-1 {
  width: 360px;
  height: 420px;
}
.portfolio-2 {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-left: 384px;
  margin-top: -420px;
}
.portfolio-3 {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-left: 768px;
  margin-top: -420px;
}

.buttom-list {
  width: 1128px;
  height: 420px;
  margin-top: 48px;
}
.portfolio-4 {
  width: 360px;
  height: 420px;
}
.portfolio-5 {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-left: 384px;
  margin-top: -420px;
}
.portfolio-6 {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-left: 768px;
  margin-top: -420px;
}
.toplist-h3 {
  margin-left: 16px;
  margin-top: 32px;
}
.toplist-p {
  margin-left: 16px;
  margin-top: -16px;
}

/* OUR PORTFOİLO BİTİŞ */

/* FOOTER BAŞLANGIÇ */

.main-footer {
  margin-top: 120px;
  width: 1440px;
  height: 312px;
  background-color: var(--navy-blue);
  position: relative;
}

.footer {
  width: 264px;
  height: 112px;
  margin-left: 156px;
  margin-top: 100px;
  position: absolute;
}

.logo-3 {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 3%;
  text-align: center;
}
.footer-p {
  color: var(--cloud);
}

/* FOOTER BİTİŞ */
